<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="title">
      Affordable SR22 Insurance in Oregon – Your Path to Reinstatement!
    </h2>
    <p>
      Call us now to speak with one of our friendly Oregon SR-22 insurance
      experts. We'll answer all your questions, guide you through the SR22
      filing process, and provide you with a free, no-obligation quote. Don't
      wait any longer—let us help you get back on the road with confidence. Your
      peace of mind is just a phone call away.
    </p>
    <a href="tel: {{client.phoneForTel}}" class="cs-button-solid"
      >Call now: {{client.phoneFormatted}}</a
    >
  </div>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg" />
    <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/banner.jpg"
      alt="sr22 insurance in Oregon"
      loading="lazy"
      width="2500"
      height="1667"
    />
  </picture>
</section>
